<!--<page-header [home]="''" [title]="''"></page-header>-->
<div class="page-header d-flex justify-content-start align-items-center">
  <div class="header-content d-flex justify-content-start align-items-center">
    <nz-select nzShowSearch nzAllowClear nzBorderless nzPlaceHolder="Select a data source" style="width: 120px" [(ngModel)]="crawlApiUrl" [nzOptions]="crawlTypeOptions"></nz-select>
    <nz-input-group nzSize="large" class="ml-md" [nzSuffix]="inputClearTpl">
      <input
        nz-input nzSize="large" placeholder="Crawl Key"
        [(ngModel)]="crawlKey"
        class="width-md"
        auto-focus
        (keydown.enter)="autoTask()"
      />
    </nz-input-group>
    <ng-template #inputClearTpl>
      <span
        nz-icon
        class="ant-input-clear-icon"
        nzType="key"
        nzTheme="outline"
        *ngIf="!crawlKey"></span>
      <span
        nz-icon
        class="ant-input-clear-icon"
        nzTheme="fill"
        nzType="close-circle"
        *ngIf="crawlKey"
        (click)="crawlKey = ''"
      ></span>
    </ng-template>
    <button nz-button nzType="dashed" nzShape="round" type="button" class="ml-md" (click)="autoCreate()">
      <span nz-icon nzType="api" nzTheme="outline"></span>
    </button>
<!--    <button nz-button nzType="default" nzShape="round" class="ml-md" (click)="resetCrawlKey()">-->
<!--      <span nz-icon nzType="reload" nzTheme="outline"></span>-->
<!--    </button>-->
    <nz-badge [nzCount]="crawlTaskCount">
      <button nz-button nzType="default" nzShape="round" class="ml-md" (click)="autoTask()">
        <span nz-icon nzType="enter" nzTheme="outline"></span>
      </button>
    </nz-badge>
    <button nz-button nzType="primary" nzShape="round" type="button" class="ml-md" (click)="executeComicCrawlTaskList()">
      <span nz-icon nzType="api" nzTheme="outline"></span>
    </button>
<!--    <nz-switch [(ngModel)]="realTimeCrawl"-->
<!--               nzCheckedChildren="后台爬取"-->
<!--               nzUnCheckedChildren="即时爬取"-->
<!--               class="ml-md">-->
<!--    </nz-switch>-->
    <nz-switch [(ngModel)]="showEdit"
               nzCheckedChildren="编辑"
               nzUnCheckedChildren="查看"
               class="ml-md">
    </nz-switch>
  </div>
  <div class="header-content ml-xl">
    <nz-badge
      [nzStatus]="!messageSocketSubscription.closed ? 'success' : 'error'"
      [nzText]="'爬虫'"
      class="mr-sm"
    ></nz-badge>
    <button nz-button type="button" nzType="default" nzShape="circle" (click)="connectMessageSocket()">
      <span nz-icon [nzType]="'sync'" [nzSpin]="reloadSocketSpin"></span>
    </button>
  </div>
  <div class="header-content search-keyword d-flex justify-content-end align-items-center">
<!--    <button nz-button nzType="default" nzShape="round" class="mr-md" (click)="resetSearch()">-->
<!--      <span nz-icon nzType="reload" nzTheme="outline"></span>-->
<!--    </button>-->
    <nz-input-group nzSize="large" [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input nzSize="large" [(ngModel)]="keyword" placeholder="关键字搜索" class="width-md" (keydown.enter)="search()"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span
        nz-icon
        class="ant-input-clear-icon"
        nzTheme="fill"
        nzType="close-circle"
        *ngIf="keyword"
        (click)="resetSearch()"
      ></span>
      <span
        nz-icon
        class="ant-input-clear-icon"
        [nzType]="'search'"
        *ngIf="!keyword"
        (click)="search()"
      ></span>
    </ng-template>
  </div>
</div>
<!--<nz-card>-->
<!--  <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>-->
<!--  <st #st [data]="url" [columns]="columns"></st>-->
<!--</nz-card>-->
<div class="container">
  <nz-spin nzSize="large" [nzSimple]="false" [nzSpinning]="loading">
    <div class="grid-container d-flex justify-content-around align-items-start">
      <nz-card *ngFor="let item of gridList" [ngClass]="['grid-item', 'ant-card-body-custom-padding']" nzHoverable (click)="openInfo(item.id)">
  <!--      item.comicServerPath + '/' + item.comicServerDirectoryName + '/' + item.localCoverSrc-->
        <img
          nz-image
          width="378px"
          [nzSrc]="item.coverBase64"
          [nzFallback]="fallbackImageBase64"
          alt=""
          (click)="handlePreview($event)"
        />
        <span nz-typography class="d-block mb-sm">{{item.title}}</span>
        <span nz-typography class="d-block"><mark>页数: {{item.pageSize}}</mark></span>
        <span nz-typography class="d-block">
          完整性:
          <ng-container *ngIf="item.integrity || comicIdListOwnLocal.includes(item.id); else integrityFalse">
            <span nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></span>
          </ng-container>
          <ng-template #integrityFalse>
            <span nz-icon [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#ff4d4f'"></span>
          </ng-template>
        </span>
        <span nz-typography class="d-block mb-sm"><mark>日期: {{item.postedTime ? dateStringFormatter(item.postedTime) : '-'}}</mark></span>

        <ng-template #spaceSplit>
          <nz-divider nzType="vertical"></nz-divider>
        </ng-template>
        <div class="mb-sm">
          <nz-space nzSize="small" [nzSplit]="spaceSplit">
            <ng-template [ngIf]="showEdit">
              <a *nzSpaceItem
                 nz-typography
                 nzType="danger"
                 (click)="handleLink($event)"
                 nz-popconfirm
                 nzPopconfirmTitle="是否删除?"
                 (nzOnConfirm)="delete(item.id)">删除</a>
            </ng-template>
            <ng-template [ngIf]="showEdit">
              <a *nzSpaceItem nz-typography (click)="$event.stopPropagation();addEdit(item.id)">编辑</a>
            </ng-template>
            <a *nzSpaceItem nz-typography (click)="setConfig(item.id, $event)">配置</a>
            <ng-template [ngIf]="item.canCrawl">
              <a *nzSpaceItem [href]="item.dataSourceUrl" target="_blank" (click)="handleLink($event)">
                数据源
              </a>
            </ng-template>
          </nz-space>
        </div>

        <div class="mb-sm">
          <nz-space nzSize="small" [nzSplit]="spaceSplit">
            <ng-template [ngIf]="item.canCrawl">
              <button *nzSpaceItem nz-button nzType="default" nzSize="small" (click)="$event.stopPropagation();getCrawl(item)">
                <span nz-icon nzType="api" nzTheme="outline"></span>
                爬取
              </button>
            </ng-template>
            <ng-template [ngIf]="item.canCrawl">
              <button *nzSpaceItem nz-button nzType="default" nzSize="small" (click)="$event.stopPropagation();createComicCrawlTask(item)">
                <span nz-icon nzType="api" nzTheme="outline"></span>
                创建爬取任务
              </button>
            </ng-template>
          </nz-space>
        </div>

        <div>
          <nz-space nzSize="small" [nzSplit]="spaceSplit">
            <button *nzSpaceItem nz-button nzType="default" nzSize="small" (click)="$event.stopPropagation();selectCoverImage(item)">
              <span nz-icon nzType="folder-add" nzTheme="outline"></span>
              选择封面
            </button>
            <button *nzSpaceItem nz-button nzType="default" nzSize="small" (click)="checkComic(item, $event)">
              <span nz-icon nzType="ordered-list" nzTheme="outline"></span>
              验证
            </button>
            <ng-template [ngIf]="item.canCrawl">
              <ng-container *ngIf="!(onDownloadingComic && comicIdOnDownloading.includes(item.id));else stopDownloadButton">
                <button *nzSpaceItem nz-button nzType="default" nzSize="small" (click)="downloadComic(item, $event)">
                  <span nz-icon nzType="cloud-download" nzTheme="outline"></span>
                  下载
                </button>
              </ng-container>
              <ng-template #stopDownloadButton>
                <button *nzSpaceItem nz-button nzType="default" nzDanger nzSize="small" (click)="stopDownloadComic(item, $event)">
                  <span nz-icon [nzType]="(onDownloadingComic && comicIdOnDownloading.includes(item.id)) ? 'loading' : 'cloud-download'" nzTheme="outline"></span>
                  <span>停止</span>
                </button>
              </ng-template>
            </ng-template>
          </nz-space>
        </div>
      </nz-card>
      <nz-empty *ngIf="(!loading) && gridList.length == 0"></nz-empty>
    </div>
  </nz-spin>
  <div class="gallery-pagination d-flex justify-content-end align-items-center mt-md">
    <nz-pagination nzShowQuickJumper
                   nzShowSizeChanger
                   [nzPageSizeOptions]="psOptions"
                   [(nzPageSize)]="ps"
                   [(nzPageIndex)]="pi"
                   [nzTotal]="total"
                   (nzPageIndexChange)="handlePageIndexChange()"
                   (nzPageSizeChange)="handlePageSizeChange()"
                   [nzShowTotal]="rangeTemplate"></nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      第{{ range[0] }}项 ~ 第{{ range[1] }}项 , 共 {{ total }} 项
    </ng-template>
  </div>
</div>
