<!--<div class="modal-header">-->
<!--  <div class="modal-title">{{ title }}</div>-->
<!--</div>-->

<!--<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>-->
<!--<div *ngIf="i">-->
<!--  <h3 nz-typography [nzContent]="title" [nzCopyable]="true"></h3>-->
<!--  <span nz-typography nzType="danger" [nzContent]="serialNumber" [nzCopyable]="true" class="text-md d-block mb-sm"></span>-->
<!--  <a [href]="javUrl" target="_blank">-->
<!--    数据源-->
<!--    <span nz-icon nzType="share-alt" nzTheme="outline"></span>-->
<!--  </a>-->
<!--</div>-->
<!--<nz-card *ngIf="i" class="my-md d-flex">-->
<!--  <div>-->
<!--    <img nz-image width="824" [nzSrc]="coverSrc" alt=""/>-->
<!--  </div>-->
<!--  <div>-->

<!--  </div>-->
<!--</nz-card>-->
<!--<sf *ngIf="i" #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="i" button="none">-->
<!--  <div class="drawer-footer">-->
<!--    <button nz-button type="button" (click)="close()">关闭</button>-->
<!--    <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid" [nzLoading]="http.loading">自动{{record.id > 0 ? '填充' : '创建' }}</button>-->
<!--  </div>-->
<!--</sf>-->
