<page-header [home]="''" [title]="''"></page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
  <div nz-row class="mt-sm mb-md">
    <div nz-col [nzXs]="24" [nzLg]="24">
      <button nz-button nzType="primary" nzDanger (click)="bulkDelete(st._data)">
        <span nz-icon nzType="delete" nzTheme="outline"></span>
        批量删除
      </button>
      <button nz-button nzType="primary" (click)="bulkDownload(st._data)">
        <span nz-icon nzType="download" nzTheme="outline"></span>
        批量下载
      </button>
    </div>
  </div>
  <st #st [data]="data" [columns]="columns" [page]="page" [widthMode]="{ type: 'strict' }">
    <ng-template st-row="customTitle" let-item>
      <a nz-typography href="javascript:void(0);" (click)="previewVideoImage(item.videoInfo)">
        <span nz-typography nz-tooltip nzTooltipPlacement="topLeft" [nzTooltipTitle]="item.videoInfo.title">{{item.videoInfo.title}}</span>
      </a>
    </ng-template>

    <ng-template st-row="customTorrentName" let-item>
      <span nz-tooltip nzTooltipPlacement="topLeft" [nzTooltipTitle]="item.torrentInfo.torrent_name">{{item.torrentInfo.torrent_name}}</span>
    </ng-template>

    <ng-template st-row="customTorrentExcerpt" let-item>
      <span nz-tooltip nzTooltipPlacement="topLeft" [nzTooltipTitle]="item.torrentInfo.torrent_excerpt">{{item.torrentInfo.torrent_excerpt}}</span>
    </ng-template>
  </st>
</nz-card>
