<page-header [home]="''" [title]="''"></page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
  <div nz-row class="my-md">
    <div nz-col [nzXs]="24" [nzLg]="24" class="d-inline-flex justify-content-start align-items-center">
      <nz-switch [(ngModel)]="isAutoCreate"
                 [nzCheckedChildren]="'自动'"
                 [nzUnCheckedChildren]="'手动'"
                 class="mr-md"></nz-switch>
      <button nz-button nzType="dashed" (click)="addEdit()" *ngIf="!isAutoCreate">添加</button>
      <div *ngIf="isAutoCreate">
        <input nz-input placeholder="serial number" [(ngModel)]="autoCreateSerialNumber" class="width-md mr-md" (keydown.enter)="autoCreate()"/>
        <button nz-button nzType="dashed" type="button" (click)="autoCreate()">爬取</button>
      </div>
    </div>
  </div>
  <st #st [data]="url" [columns]="columns" [page]="page" [widthMode]="{ type: 'strict' }">
    <ng-template st-row="customVideoStatus" let-item>
      <nz-badge [nzStatus]="statusBADGE[getVideoStatus(item)].color" [nzText]="statusBADGE[getVideoStatus(item)].text"></nz-badge>
    </ng-template>

    <ng-template st-row="customVideoQuality" let-item>
      <nz-tag [nzColor]="qualityTAG[getVideoQuality(item)].color" class="st-single-nz-tag">{{ qualityTAG[getVideoQuality(item)].text }}</nz-tag>
    </ng-template>

    <ng-template st-row="customVideoInfoCrawlButton" let-item>
      <button nz-button type="button" nzType="default" nzShape="round" (click)="crawlInfo(item)" *ngIf="item.existSerialNumber">
        <span nz-icon nzType="api" nzTheme="outline"></span>
      </button>
    </ng-template>
  </st>
</nz-card>
