<page-header [home]="''" [title]="''"></page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
  <div nz-row class="mt-sm mb-md">
    <div nz-col [nzXs]="24" [nzLg]="24">
      <button nz-button nzType="dashed" (click)="addEdit()">添加</button>
    </div>
  </div>
  <st #st [data]="url" [columns]="columns" [page]="page" [widthMode]="{ type: 'strict' }">
    <ng-template st-row="customVideoStatus" let-item>
      <nz-badge [nzStatus]="statusBADGE[getVideoStatus(item)].color" [nzText]="statusBADGE[getVideoStatus(item)].text"></nz-badge>
    </ng-template>

    <ng-template st-row="customVideoQuality" let-item>
      <nz-tag [nzColor]="qualityTAG[item.videoResolution].color">{{ qualityTAG[item.videoResolution].text }}</nz-tag>
    </ng-template>

    <ng-template st-row="customVideoInfoCrawlButton" let-item>
      <button nz-button type="button" nzType="default" nzShape="round" (click)="crawlInfo(item)" *ngIf="item.existSerialNumber">爬取</button>
    </ng-template>
  </st>
</nz-card>
