<div class="container">
  <nz-spin [nzSimple]="false" [nzSpinning]="loading">
    <nz-list *ngIf="torrentList.length > 0" nzSize="small" nzBordered>
      <nz-list-item *ngFor="let item of torrentList;let idx = index">
        <div>
          <div>
            <nz-tree [nzData]="item.torrent_excerpt"
                     nzShowIcon nzBlockNode nzExpandAll nzShowLine
                     [nzExpandedIcon]="multiExpandedIconTpl"
                     [nzTreeTemplate]="nzTreeTemplate">
              <ng-template #multiExpandedIconTpl let-node let-origin="origin">
                <span
                  *ngIf="origin.type == 'fa-folder-open'"
                  nz-icon
                  [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
                  class="ant-tree-switcher-line-icon"
                ></span>

                <span
                  *ngIf="origin.type == 'fa-file-video-o'"
                  nz-icon
                  nzType="youtube" nzTheme="outline"
                  class="ant-tree-switcher-line-icon"
                ></span>

                <span
                  *ngIf="(origin.type != 'fa-folder-open') && (origin.type != 'fa-file-video-o')"
                  nz-icon
                  nzType="file" nzTheme="outline"
                  class="ant-tree-switcher-line-icon"
                ></span>
              </ng-template>
              <ng-template #nzTreeTemplate let-node let-origin="origin">
                <span class="custom-node">
                  <span *ngIf="origin.type == 'fa-file-video-o'">
                    <span class="file-name" nz-typography><mark>
<!--                      <span nz-icon nzType="youtube" nzTheme="outline"></span>-->
                      {{ node.title }}
                    </mark></span>
                    <span nz-typography style="margin-left: 20px">{{ origin.size }}</span>
                  </span>

                  <span *ngIf="origin.type == 'fa-folder-open'">
                    <span class="folder-name">{{ node.title }}</span>
                  </span>

                  <span *ngIf="(origin.type != 'fa-folder-open') && (origin.type != 'fa-file-video-o')">
<!--                    <span nz-icon nzType="file" nzTheme="outline"></span>-->
                    <span class="file-name">{{ node.title }}</span>
                    <span nz-typography style="margin-left: 20px">{{ origin.size }}</span>
                  </span>
                </span>
              </ng-template>
            </nz-tree>
          </div>
          <div>
            <nz-space nzSize="large">
              <span *nzSpaceItem nz-typography><a [href]="item.detailLink" target="_blank">详情</a></span>
              <span *nzSpaceItem nz-typography>{{item.torrent_files}} files</span>
              <span *nzSpaceItem nz-typography nzType="secondary">{{item.torrent_size}}</span>
              <span *nzSpaceItem nz-typography nzType="success">{{item.torrent_age}}</span>
            </nz-space>
          </div>
        </div>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <button nz-button nzType="dashed" nzShape="round" (click)="openTorrentMagnetLink(item.torrent_magnet)">
              <span nz-icon nzType="download" nzTheme="outline"></span>
            </button>
          </nz-list-item-action>
          <nz-list-item-action>
            <button nz-button nzType="primary" nzShape="round" [disabled]="videoDownloadTaskService.downloadMissionMap.has(item.torrent_magnet)" (click)="addVideoDownloadTask(item, idx)">
              <span nz-icon nzType="export" nzTheme="outline"></span>
            </button>
          </nz-list-item-action>
        </ul>
      </nz-list-item>
    </nz-list>
  </nz-spin>
  <nz-empty *ngIf="(!loading) && torrentList.length == 0" [nzNotFoundContent]="emptyMessage"></nz-empty>
</div>
